.booking-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.booking-form{
    width: 700px;
    height: 400px;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}