.Header{
    background: #fff;
    height: 70px;
    width: 100%;
    position: fixed;
    h1{
        text-align: left;
        width: fit-content;
        padding-top: 20px;
        padding-left: 80px;
    }
}

.content-area{
    margin-top: 60px;
    padding: 70px;
    float: right;
    width: 80%;
    transition: 0.5s;
}

.navigation:hover + .content-area{
    width: 75%;
    transition: 0.5s;
}
.top-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    padding: 5px;
    width: 100%;
}

.todays-bookings{
    height: 300px;
    width: 700px;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    
}

.upcoming-bookings{
    height: 300px;
    width: 500px;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.past-bookings{
    margin-top: 50px;
    margin-bottom: 10px;
    height: 450px;
    max-width: 1270px;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

}

.table-top{
    padding: 20px;
}

.divider{
    background: grey;
    height: 2px;
    
}

.past-booking-details{
    height: 60px;
    background: #fff;
   
}

.past-booking-content{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 90%;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 10px;
  
}

.headings{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 15px;
}

.service-provider{
    padding: 15px;
}

.worker-details{
    padding: 15px;
}
.date{
    padding: 15px;

}

@media only screen and (max-width:1000px){
    .top-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}