.PastBookings{
    height: 500px;
    width: 1100px;
    background: whitesmoke;
    position: relative;
}


.TodayBookings{
    height: 300px;
    width: 700px;
    background: whitesmoke;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
}

.UpcomingBookings{
    height: 300px;
    width: 200px;
    background: whitesmoke;
    position: relative;
}